body {
    text-align : center;
    font-family: 'Cabin', 'M PLUS 1p', 'Noto Sans KR', sans-serif;
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    margin-bottom: 3%;
    z-index: 5;
    background-color: #ffffff;
}
#mainmenu {
    width: 100%;
    height: 60px;
    color: #ffffff;
    font-family: 'Cabin', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    box-shadow: 0px 7px 5px  gray;
}
li {
    list-style: none;
}
#mainmenu li {
    background-color: #ffffff;
    float: left;
    width: 20%;
    height: 60px;
}
#mainmenu li a {
    display: block;
    padding: 10px;
    color: #808080;
    z-index: 5;
}

#mathematiques:hover {
    background-color: #558BCF;
    transition: background-color 0.5s;
}
#mathematiques:hover a {
    color: #ffffff;
    transition: color 0.5s;
}
#histoire:hover {
    background-color: #8F784B;
    transition: background-color 0.5s;
}
#histoire:hover a {
    color: #ffffff;
    transition: color 0.5s;
}
#langue:hover {
    background-color: #FC80A5;
    transition: background-color 0.5s;
}
#langue:hover a {
    color: #ffffff;
    transition: color 0.5s;
}


#mainmenu .blankList {
    z-index: 7;
    background-color: #ffffff;
}
#updateLog {
    background-color : #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}


a {
    text-decoration: none;
}
.buttonNaver {
    font-family: 'Cabin', 'M PLUS 1p', 'Noto Sans KR', sans-serif;
    position : relative ;
    border : 3px solid #00C73C;
    color : #00C73C;
    width : 80%;
    background : #ffffff;
    margin: 10px;
    border-radius : 10px;
    transition : 0.5s;
}
.buttonNaver:hover {
    background: #00C73C;
    color: white;
}

.button {
    font-family: 'Cabin', 'M PLUS 1p', 'Noto Sans KR', sans-serif;
    position : relative ;
    border : 3px solid #FC80A5;
    color : #FC80A5;
    width : 80%;
    background : #ffffff;
    margin: 10px;
    border-radius : 10px;
    transition : 0.5s;
}
.button:hover {
    background: linear-gradient(to right, #FC80A5 0%, #558BCF 100%);
    color: white;
}




#RevoleHy {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #FC80A5 0%, #558BCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
#insta {
    margin : 20%;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
}
#histoiredAh {
    margin : 20%;
    margin-top: 0;
}
.subTitle {
    margin-left : 25%;
}
h1 {
    padding: 40px;
    font-size: 40pt;
}
h2 {
    padding: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 28pt;
    text-align : left;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
}
.h3Text {
    font-size: 24pt;
}
small {
    color : #c5c5c5;
    font-size: 10pt;
    margin: 10px;
}
img {
    width : 100%;
    margin-bottom: 40px;
    max-height: 80%;
    max-width: 80%;
}
.blank {
    margin-bottom: 200px;
    z-index: 5;
}
.blankmini {
    margin-bottom: 50px;
    z-index: 5;
}


@media(max-width:600px) {
    #insta {
        margin: 0;
    }
    .subTitle {
        margin-left: 0;
    }
    #histoiredAh {
        margin: 0;
    }
    img {
        max-height: 100%;
        max-width: 100%;
    }
    #mainmenu li {
        width: 24%;
    }
    #mainmenu small {
        display: none;
    }
    #mainmenu .blankList {
        width: 14%;
        color:#ffffff;
    }
}
