#MATHEMATICA {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, aliceblue 0%, #558BCF 100%);
    color: #ffffff;
    margin: 0;
}
#MATHEMATICA small {
    color: black;
}