#Languepedia {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #FC80A5 0%, #558BCF 100%);
    color: #ffffff;
    margin: 0;
}
#Languepedia small {
    color: black;
}

@media(max-width:600px) {
    #Languepedia {
        font-size: 32pt;
    }
}