#HistoireMain {
    font-family: 'Cabin', sans-serif;
    text-align: left;
    font-weight: 700;
    background: linear-gradient(to right, #ffe3aa 0%, #558BCF 100%); /* #8F784B */
    color: #3c3c3c;
    margin: 0;
}
#HistoireMainMini {
    font-size: 24pt;
}
#HistoireMain small {
    color: black;
}
table {
    text-align: left;
}
.SpaceTime {
    background-color: #73a1d8;
    color: #ffffff;
}
td {
    padding: 5px;
    padding-left: 10px;
}

@media(max-width:600px) {
    #HistoireMain {
        font-size: 32pt;
    }
}